<h1>All Artists</h1>

<% @artists.each do |artist| %>
  <ul>
    <li>Name: <%= artist.name %></li>
    <li>Still recording: <%= artist.still_recording %>
    <li>Number of singles: <%= artist.number_of_singles %>
    <li><%= link_to "Link to artist  show page", "/artists/#{artist.id}" %>
  </ul>
<% end %>

<%= link_to "Create new artist", "/artists/new" %>

<h2>Search by Artist Name:</h2>
<p><%= form_with(url: search_artists_path, method: "get") do |form| %>
  <%= form.text_field :search, placeholder: "Enter search" %>
  <%= form.submit "Search" %>
<% end %>