<h1>Create a new artist:</h1>

<%= form_with url: "/artists", method: :post, local: true do |f| %>
  <p>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
  <p>
    <%= f.label :still_recording, "Still recording?" %>
    <%= f.check_box :still_recording %>
  <p>
    <%= f.label :number_of_singles, "Number of singles:" %>
    <%= f.number_field :number_of_singles %>
  <p>
    <%= f.submit "Create Artist" %>
<% end %>
