<h1><%= @artist.name %>'s Show Page</h1>
<p><%= link_to "All Albums", artist_albums_path(artist_id: @artist.id) %>

<ol>
  <li>Still recording? <%= @artist.still_recording %></li>
  <li>Number of singles: <%= @artist.number_of_singles %></li>
  <li>Number of albums: <%= @artist.album_count %>
</ol>