<h1>All Albums</h1>

<ul>
<% @albums.each do |album| %>
<div id="info_<%= album.id %>">
  <li>Title: <%= album.title %></li>
  <li>On Vinyl? <%= album.on_vinyl %></li>
  <li>Number of tracks: <%= album.number_of_tracks %></li>
  <li><%= link_to "Link to album edit page", edit_album_path(album) %>
  <li><%= link_to "Link to delete album", destroy_album_path(album), method: :delete %>

</div>
</ul>
<% end %>

<h2>Search by Album:</h2>
<p><%= form_with(url: search_albums_path, method: "get") do |form| %>
  <%= form.text_field :search, placeholder: "Enter search" %>
  <%= form.submit "Search" %>
<% end %>