<h1>All Albums for <%= @artist.name %></h1>

<ul>
<% @albums.each do |album| %>
  <li>Title: <%= album.title %></li>
  <li>On Vinyl? <%= album.on_vinyl %></li>
  <li>Number of tracks: <%= album.number_of_tracks %></li>
</ul>
<% end %>
<br>
                                        <%#  href: "/artists/#{@artist.id}/album/new" #%>
<%= link_to "Add Album For This Artist", new_artist_album_path(@artist) %>
<br>
<%= link_to "Sort Alphabetically", sort_artist_albums_path(artist_id: @artist.id), method: :get %>
<br>
<%= form_with(url: threshold_filter_artist_albums_path(artist_id: @artist.id), method: :get) do |form| %>
  <%= form.label :threshold, "Number of tracks threshold:" %>
  <%= form.number_field :threshold %>
  <%= form.submit "Search" %>
<% end %>